/* styles.css */

.job-board {
  gap: 1rem;
  max-width: 100%;
  overflow-x: auto;
}

.app-container {
  padding: 2rem;
}

.app-container h2 {
  border-bottom: 2px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 1rem;
}

/* Style for the job card */
.job-card {
  width: 100%;
  min-height: 30px; /* Adjust to your preference */
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
}

.job-card .card-body {
  padding: 0.5rem;
}

.job-card .card-title {
  margin: 0;
  font-size: 1.2rem;
  color: #333;
}

.job-card .card-text {
  margin: 0.5rem 0;
  font-size: 1rem;
  color: #555;
}

.job-add-button {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 1rem;
  border: none;
  cursor: pointer;
}

/* Responsive behavior */
@media (max-width: 992px) {
  .job-board .col-md-4 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .job-board .col-sm-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

/* Additional styles for different job-card colors based on the status */
.wishlist-card {
  background-color: #e1f5fe;
}

.applied-card {
  background-color: #e8f5e9;
}

.interviewed-card {
  background-color: #fff9c4;
}

.accepted-card {
  background-color: #e8eaf6;
}

.rejected-card {
  background-color: #ffebee;
}
